
/*Default Css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body{
  overflow-x: hidden;
  position: relative;
  background-color: rgb(17, 17, 17)!important;
  color:white!important;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}
img{
  width: 100%;
  height: auto;
}
button{
  border:0;
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: normal;
}
p,a,li,ul{
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}
a:hover{
  text-decoration: none;
}
input:focus,textarea:focus,select:focus{
  outline:none
}
@media (min-width:1700px){
  main.container{
    max-width: 100%;
    padding: 0 150px;
  }
}
/*Navbar*/
nav.navbar{
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 99;
  transition: 0.32s ease-in-out;
  background-color: rgb(17, 17, 17/80%)!important;
  backdrop-filter:blur(20px);
}
.nav.navbar.scroll{
  padding: 0px 0;
  background-color: black;
}
nav.navbar a.navbar-brand{
  width: 7%;
}
nav.navbar .navbar-nav .nav-link.navbar-link{
  font-weight: 400;
  color: white!important;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  letter-spacing: 0.8px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active{
  opacity: 1;
}
span.navbar-text{
  display:flex;
  align-items: center;
}
.social-icon{
  display: inline-block;
  margin-left: 14px;
}
.social-icon a{
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5)
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 90%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.navbar-text button{
  font-weight: 600;
  color:white;
  border: 1px solid white;
  font-size: 18px;
  margin-left: 18px;
  padding: 18px 34px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span{
  z-index: 1;
}
.navbar-text button::before{
  content:"";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  top:0;
  left: 0;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover{
  color:black ;
}
.navbar-text button:hover::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler{
  border: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
/*Banner*/

.banner{
  margin-top: 0;
  padding: 260px 0 100px 0;
}
.content {
  position: relative;
  display: flex;
}
.content h2 {
  color: #fff;
  position: absolute;
  font-size:7rem;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px rgb(160, 46, 126);
}
.content h2:nth-child(2) {
  color: rgb(160, 46, 126);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }
  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.banner-title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 400px;
  padding-left: 10%;
  font-family: 'Times New Roman', Times, serif;
}
.title-text{
  color: transparent;
  -webkit-text-stroke: 1px rgb(160, 46, 126);
  padding-left: 10px;
  font-size: 4rem;
  text-transform: uppercase;
}
.subtitle{
  margin:150px 0 0 0;
}
.banner-macbook{
  width: 120%;
}
.banner-macbook:hover{
  filter: drop-shadow(0 0 40px #AA367C);
}
/*About*/
.about{
  padding: 310px 0 200px 0;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}
.about-me{
  background: #030303;
  border-radius: 64px;
  padding: 60px 50px;
  margin-top: -60px;
  width: 100%;
}
.about-title{
  font-size: 45px;
	font-weight: 600;
  position: relative;
  letter-spacing: 3px;
  text-align: start;
  margin-left: 15px;
}
.about-text{
  color: transparent;
  -webkit-text-stroke: 1px #AA367C;
}
.hover-about-text{
  position: absolute;
  inset:0;
  width: 0%;
  color:#AA367C;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.about-title:hover .hover-about-text{
  width: 100%;
  filter: drop-shadow(0 0 10px #AA367C);
}
.about-info{
  font-size: 20px;
  line-height: 1.5em;
  text-align: start;
  margin-left: 20px;
}
/*Skills*/

.skills{
  padding: 310px 0 200px 0;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}
.skill{
  background: #030303;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill-title{
  font-size: 45px;
	font-weight: 600;
  position: relative;
  letter-spacing: 3px;
  text-align: start;
  margin-left: 10%;
}
.skill-text{
  color: transparent;
  -webkit-text-stroke: 1px #AA367C;
}
.hover-skill-text{
  position: absolute;
  inset:0;
  width: 0%;
  color:#AA367C;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.skill-title:hover .hover-skill-text{
  width: 100%;
  filter: drop-shadow(0 0 10px #AA367C);
}
.skill p{
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  text-align: start;
  margin-left: 10%;
}
.skill-class{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin: 5% auto;
  position: relative;
}
.skill-class span {
  position: relative;
  margin-right: 4%;
  display: inline-block;
  animation: waviy 2.5s infinite;
  font-weight: 600;
}
.skill-class span:nth-child(1){
  animation-delay: calc(.1s * 1);
}
.skill-class span:nth-child(2){
  animation-delay: calc(.1s * 2);
}
.skill-class span:nth-child(3){
  animation-delay: calc(.1s *3);
}
.skill-class span:nth-child(4){
  animation-delay: calc(.1s *4);
}
.skill-class span:nth-child(5){
  animation-delay: calc(.1s *5);
}
.skill-class span:nth-child(6){
  animation-delay: calc(.1s *6);
}
.skill-class span:nth-child(7){
  animation-delay: calc(.1s *7);
}
.skill-class span:nth-child(8){
  animation-delay: calc(.1s *8);
}
.skill-class span:nth-child(9){
  animation-delay: calc(.1s *9);
}
.skill-class span:nth-child(10){
  animation-delay: calc(.1s *10);
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
.skill img{
  width: 90px;
  height: 90px;
  margin-top: 10%;
}
/*Projects*/
.projects {
  padding: 240px 0 50px 0;
  position: relative;
  font-family: 'Times New Roman', Times, serif;
}
.projects-bx {
  background: #030303;
  border-radius: 64px;
  text-align: center;
  padding: 50px 50px 80px 50px;
  margin-top: -60px;
}
.project-title{
  font-size: 45px;
	font-weight: 600;
  position: relative;
  letter-spacing: 3px;
  text-align: start;
}
.project-text{
  color: transparent;
  -webkit-text-stroke: 1px #AA367C;
}
.hover-project-text{
  position: absolute;
  inset:0;
  width: 0%;
  color:#AA367C;
  overflow: hidden;
  transition: 1s ease-in-out;
}
.project-title:hover .hover-project-text{
  width: 100%;
  filter: drop-shadow(0 0 10px #AA367C);
}
.projects-bx-p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
.projects a{
  text-decoration: none;
  color:#AA367C;
  font-weight: 600;
}
.image-part{
  justify-content: flex-start;
  position: relative;
}
.projects-img{
  width: 81%;
  height: 81%;
  position: absolute;
  top: 4%;
  right: 4%;
}
.projects-mac{
  padding: 0 0 0 50px;
  width: 100%;
}
.info-part h3{
  font-size: 40px;
  font-weight: 600;
  margin: 10px 0 20px 0;
  text-align: start;
}
.info-part p{
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 10px 0 20px 0;
  text-align: start;
  flex-wrap: wrap;
}
.info-part a{
  font-size: 24px;
  margin-left: 100px;
}
.carousel-control-next{
  justify-content: flex-end;
  align-items: flex-end!important;
  bottom:-12%!important;
  right: 30%!important
}
.carousel-control-prev{
  justify-content: flex-start;
  align-items: flex-end!important;
  bottom:-12%!important;
  left: 30%!important
}
.carousel-indicators{
  display: none!important;
}


/*Contact*/
.contact {
  padding: 400px 30px 200px 30px;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.input-part{
  background: linear-gradient(to top, #030303 0%, #AA367C 100%);
  padding: 60px;
  border-radius: 64px;
}
.contact form {
  padding: 0 30px;
}
.contact form input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,.contact form input:active{
  background: rgba(255, 255, 255, 1);
  color: #121212;
  box-shadow: none;
}
.contact form input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder{
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
  width: 30%;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}






.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

